<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>
    <extension
            point="org.eclipse.epsilon.evl.emf.validation">
        <constraintsBinding
                constraints="validations/query-plugin-validation.evl"
                modelName="QUERY"
                namespaceURI="http://blackbelt.hu/judo/meta/query">
            <!-- All packages have to register
            <additionalNamespaceURI
                    namespaceURI="http://blackbelt.hu/judo/meta/query/subpackage">
            </additionalNamespaceURI>
            -->
        </constraintsBinding>
    </extension>
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
                class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
                markerType="org.eclipse.emf.ecore.diagnostic">
        </markerResolutionGenerator>
        <markerResolutionGenerator
                class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
                markerType="org.eclipse.emf.ecoretools.diagram.diagnostic">
        </markerResolutionGenerator>
    </extension>
    <extension
            point="org.eclipse.epsilon.common.dt.tool">
        <tool
                class="hu.blackbelt.judo.meta.query.runtime.QueryUtils"
                defaultName="queryUtils"/>
    </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated query -->
      <package
            uri="http://blackbelt.hu/judo/meta/query"
            class="hu.blackbelt.judo.meta.query.QueryPackage"
            genModel="model/query.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated query -->
      <parser
            type="query"
            class="hu.blackbelt.judo.meta.query.util.QueryResourceFactoryImpl"/>
   </extension>
</plugin>
